.loyalty_bg {
    background: #075066;
    width: 100%;
}
.loyalty {
    display: flex;
    padding: 20px 10px 0 10px;
}
.loyalty_title_hide_wrap {
    display: flex;
    cursor: pointer;
}
.loyalty_title {
    font-size: 60px;
    color: #fff;
    width: 100%;
}
.loyalty_icon {
    margin: 30px 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 41px 20.5px 0 20.5px;
    display: inline-block;
}
.loyalty_text {
    font-family: TTNormsRegular;
    font-size: 15px;
    color: #fff;
}
@media screen and (max-width: 350px) {
    .loyalty_text {
        display: none;
    }
}
@media screen and (min-width: 999px) {
    
    .loyalty_title {
        white-space: nowrap;
        font-size: 100px;
    }
    .loyalty_text {
        font-size: 30px;
    }

}

