.trading_bg {
    background: #E84F35;
}
.trading_bg_open {
    background: transparent;
}
.trading {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.trading_wrap {
    display: flex;
    padding: 25px 10px 0;
}
.trading_img {
    display: none;
}
.trading_title {
    font-size: 60px;
    color: #fff;
}
.trading_title_open {
    color: #E84F35;
    font-size: 100px;
}
.trading_triangle {
    margin: 30px 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 41px 20.5px 0 20.5px;
    display: inline-block;
}


@media screen and (min-width: 999px) {
    .trading_title {
        font-size: 100px;
    }
    .trading_img {
        display: block;
    }
    
}