.results_bg {
    background: #F4A276;
    width: 100%;
}
.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 0 10px;
    cursor: pointer;
}
.results_title {
    font-size: 60px;
    color: #fff;
    width: 100%;
    cursor: pointer;
}
.results_triangle {
    margin: 30px 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    border-width: 41px 20.5px 0 20.5px;
    display: inline-block;
}
.results_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results_list_title {
    font-size: 50px;
    color: #075066;
    width: 100%;
    text-align: end;
}
.results_item {
    display: none;  
}
.results_item_img {
    margin: 0 10px 10px ;
}
.results_item_text {
    font-size: 60px;
    color: #fff;
    white-space: nowrap;
}
.results_item_text_span {
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    color: #E84F35;
    margin: 0 10px;
    font-family: RistrettoProMedium;
    white-space: nowrap;
}
.star {
    margin-top: 45px;
    font-size: 90px;
}

@media screen and (min-width: 999px) {
    .results_title {
        font-size: 100px;
    }
    .results_item {
        display: block;  
    }
    .results_item_text {
        font-size: 60px;
    }
    .results_item {
        list-style: none;
        display: flex;
        align-items: center;
    }
}
