.footer_border {
    margin-top: 60px;
    margin-bottom: 9px;
    border-top: 1px solid #075066;
    border-bottom: 1px solid #075066;
}
.footer {
    padding: 0 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer_links {
    list-style: none;
    margin-bottom: 30px;
}

.footer_link {
    text-decoration: none;
    font-family: TTNormsRegular;
    font-size: 20px;
    color: #075066;
}

.footer_social_networks_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer_sn_block_text {
    font-family: TTNormsRegular;
    font-size: 20px;
    color: #075066;
}
.footer_copyright {
    font-family: TTNormsRegular;
    font-size: 20px;
    color: #075066;
    text-align: center;
    margin-bottom: 40px;
}
.email {
    margin-top: 30px;
}

@media screen and (min-width: 772px) {
    .footer {
        flex-direction: row;
    }
    .footer_sn_block {
        width: 32%;
    }
}

