* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: RistrettoProBold;
  color: white;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
@font-face {
  font-family: RistrettoProBold;
  font-weight: 700;
  src: local('RistrettoProBold'), url("./fonts/RistrettoProBold.ttf")format("truetype");
}
@font-face {
  font-family: "RistrettoProMedium";
  src: url("./fonts/RistrettoProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "TTNormsBold";
  src: url("./fonts/TTNormsBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "TTNormsRegular";
  src: url("./fonts/TTNormsRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}